{% extends "TLMainBundle::layout.html.twig" %}

{% block title "Features - Loyalty Programs" %}

{% block breadcrumb "" %}
{% block pageTopText "Features" %}

{% block content %}

<section id="maincontent" class="row">

    <p class="secondarytext">We build effective loyalty programs for all types of businesses.<br><br> Below is a list of some of the features we offer.</p>
    <div class="separator"></div>
    <div class="separator"></div>

    <div class="sixcol ">
        <h2>Track Program Statistics</h2>
        <p class="big">Track your loyalty program's performance, analyse membership statistics, identify new members and drill down further to view sign ups, stamps and redemptions by time, date and location.</p>
    </div>
    <div class="sixcol last"><img src="{{ asset('bundles/tlmain/images/features/campaign-statistics.png') }}" alt="Campaign Statistics" class="if-pf-img" /></div>

    <div class="separator"></div>
    <hr>
    <div class="separator"></div>

    <div class="sixcol"><img src="{{ asset('bundles/tlmain/images/features/loyalty-card.png') }}" alt="Loyalty Card" class="if-pf-img" /></div>
    <div class="sixcol last">
        <h2>Create a Mobile Loyalty Card</h2>
        <p class="big">Set up your own "buy five and get one free" type loyalty card. All 'stamps' and redemptions are stored online, and accessed by your customer's smart phones. No need for paper cards. It's all done in the cloud.</p>
    </div>

    <div class="separator"></div>
    <hr>
    <div class="separator"></div>

    <div class="sixcol ">
        <h2>Create Targeted Promotions</h2>
        <p class="big">Send tailored promotions to different segments of your loyalty program's membership. Fancy regenerating custom from those who haven't visited in the past 28 days? Or maybe you would like to reward your most loyal customers with a free coffee? All of your promotions are sent directly to your customers.</p>
    </div>
    <div class="sixcol last"><img src="{{ asset('bundles/tlmain/images/features/promotions.png') }}" alt="Promotions" class="if-pf-img" /></div>

    <div class="separator"></div>
    <hr>
    <div class="separator"></div>
    
    <div class="sixcol"><img src="{{ asset('bundles/tlmain/images/features/customers.png') }}" alt="Customers" class="if-pf-img" /></div>
    <div class="sixcol last">
        <h2>Analyse Customers</h2>
        <p class="big">View and filter your customers by gender, age and other criteria. Drill down further and view detailed customer profiles, average feedback statistics and identify your most loyal customers. You can even get to know your customers by viewing and memorising their profile photo!</p>
    </div>

    <div class="separator"></div>
    <hr>
    <div class="separator"></div>
    
    <div class="sixcol">
        <h2>View Customer Feedback</h2>
        <p class="big">After your customer has stamped their loyalty card, they are asked to provide a 'star rating' and a comment about their experience at your store. Tap into this data to listen and react to customer feedback.</p>
    </div>
    <div class="sixcol last"><img src="{{ asset('bundles/tlmain/images/features/feedback.png') }}" alt="feedback" class="if-pf-img" /></div>

    <div class="separator"></div>
    <hr>
    <div class="separator"></div>

    <div class="sixcol "><img src="/bundles/tlmain/images/content/pf/autumnleaf-349x260.jpg" alt="Autumn Leaf" /></div>
    <div class="sixcol last">
        <h2>Free Start Up Kit</h2>
        <p class="big">We provide you with a <a data-toggle="modal" href="#startupKit" style="color: #0033ff;">free startup kit</a> to help you launch and manage your loyalty program. This includes a welcome pack and all of the promotional materials you need to start engaging with your customers.</p>
        {% include 'TLMainBundle:Page:_startup_kit.html.twig' %}
    </div>

    <div class="separator"></div>
    <hr>
    <div class="separator"></div>
    
    <div class="sixcol ">
        <h2>Print Promotional Materials</h2>
        <p class="big">Has a coffee been spilt on your counter poster? No worries. Print all of your promotional kit materials from within your dashboard. They are printer friendly and ready to go.</p>
    </div>
    <div class="sixcol last"><img src="/bundles/tlmain/images/content/pf/autumnleaf-349x260.jpg" alt="Autumn Leaf" /></div>

    <div class="separator"></div>
    <hr>
    <div class="separator"></div>

    <div class="sixcol"><img src="{{ asset('bundles/tlmain/images/features/helpdesk.png') }}" alt="Support Desk" class="if-pf-img" /></div>
    <div class="sixcol last">
        <h2>Support Desk</h2>
        <p class="big">If you ever have any problems, questions or just fancy a chat, we're happy to help. We've included a support desk within the dashboard to help our clients get in touch with us.</p>
    </div>

    <div class="separator"></div>
    <hr>
    <div class="separator"></div>
                
    <div class="center">
        <a href="{{ path('TLMainBundle_page_pricing') }}" class="btn btn-success btn-large">Create Your Business's Loyalty Program Today &raquo;</a>
    </div>
                                    
    <div class="separator"></div>
    <div class="separator"></div>
    <div class="separator"></div>

    <div class="clearfix"></div><!-- clear float --> 
</section><!-- maincontent -->

{% endblock %}
