{% extends "TLMainBundle::layout.html.twig" %}

{% block pageTop "" %}

{% block content %}

        <!-- SLIDER -->
        <div id="outerslider">
            <div id="slidercontainer">
                <section id="slider">
                    <div id="slideritems" class="flexslider preloader">
                        <ul class="slides">

                            {#
                            <li style="background-image:url(/bundles/tlmain/images/slider/bg-slider1.jpg);">
                                <img src="/bundles/tlmain/images/slider/slider1.png" alt="" />
                                <div class="flex-caption">
                                    <div class="text-caption row right">
                                        <div class="caption-content">
                                            <h2>Getting Worldwide</h2>
                                            <div>Consectetur adipiscing elit aeneane lorem lipsum, condimentum ultrices consequat eu, vehicula mauris lipsum adipiscing lipsum aenean orci lorem. Asequat lorem ipsum dolor lorem sit amet, consectetur adipiscing dolor elit. Aenean nisl orci, condimentum.</div>
                                            <a class="sliderbutton" href="http://www.interfeis.com/"><span>For Details</span></a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </li>
                            #}
                            <li style="background-image:url(/bundles/tlmain/images/slider/bg-slider2.jpg);">
                                <img src="/bundles/tlmain/images/slider/slider2.png" alt="" />
                                <div class="flex-caption">
                                    <div class="text-caption row left">
                                        <div class="caption-content">
                                            <h2><a href="{{ path('TLMainBundle_page_how_it_works') }}">The Best<br>Loyalty Program</a></h2>
                                            <div><a href="{{ path('TLMainBundle_page_how_it_works') }}">True Loyalty provides small businesses with a platform to build simple and effective loyalty programs.<br><br> Best of all, it's completely free.</a></div>

                                            <br><br>
                                            <a class="btn btn-primary" href="{{ path('TLMainBundle_page_how_it_works') }}">More Details &raquo;</a>  &nbsp; &nbsp;
                                            <a class="btn btn-success" href="{{ path('TLMainBundle_page_how_it_works') }}">Join For Free &raquo;</a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </li>
                            
                            {#
                            <li style="background-image:url(/bundles/tlmain/images/slider/bg-slider3.jpg);">
                                <img src="/bundles/tlmain/images/slider/slider3.png" alt="" />
                                <div class="flex-caption">
                                    <div class="text-caption row top">
                                        <div class="caption-content">
                                            <h2>Using The Latest Technology</h2>
                                            <div>Consectetur adipiscing elit aeneane lorem lipsum, condimentum ultrices consequat eu, vehicula mauris lipsum adipiscing lipsum aenean orci lorem. Asequat lorem ipsum dolor lorem sit amet, consectetur adipiscing dolor elit. Aenean nisl orci, condimentum.</div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </li>
                            #}                
                         </ul>
                    </div>
                    <div class="clearfix"></div>
                </section>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- END SLIDER -->
 
        
        <!-- MAIN CONTENT -->
        <div id="outermain">
            <div class="container">
                <section id="maincontent" class="row">
                    <div class="twelvecol">
            
                    <h2 class="bigtext">Work with True Loyalty to build your business’s loyalty scheme today.</h2>
                    <p class="secondarytext">We help businesses work with their customers to drive success and growth.</p>
                    <div class="separator"><div></div> </div>
                    
                    <div  class="minisliders flexslider">
                      <ul class="slides">
                        <li class="slide " >
                          <div class="fourcol ">
                              <img src="/bundles/tlmain/images/content/iconhome-6.png" alt="Analyse Customers" class="alignleft" /><br />
                              <h3>Analyse Customers</h3>
                              <div class="clearfix"></div>
                              <p>View and filter your customers by gender, age, nationality and other criteria. Drill down further to analyse what day and time each customer 'stamped' their loyalty card, redeemed their reward or provided feedback. Get to know your customers by viewing and memorising their profile photo!</p>
                          </div>
                          <div class="fourcol ">
                              <img src="/bundles/tlmain/images/content/iconhome-5.png" alt="Track Campaign Statistics" class="alignleft" /><br />
                              <h3>Track Campaign Statistics</h3>
                              <div class="clearfix"></div>
                              <p>Track your loyalty scheme's success and analyse stamps, rewards and adoption rates by time, date and location.</p>
                          </div>
                          <div class="fourcol last">
                              <img src="/bundles/tlmain/images/content/iconhome-1.png" class="alignleft" alt="Send Targetted Promotions" /><br />
                              <h3>Send Targetted Promotions</h3>
                              <div class="clearfix"></div>
                              <p>Send targeted promotions to the different segments of your loyalty scheme’s membership. Fancy regenerating custom from those who haven’t visited in the past 28 days, or would like to reward your most loyal customers with a free coffee? All of this can be done through our user-friendly message center. All of your promotions are sent directly to your customers.</p>
                          </div>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                     
                    <div class="separator"></div>
                    <div class="separator"></div>
                    <div class="separator"></div>

                    <div class="center"> 
                        <a class="btn btn-success btn-large" href="">Build a Loyalty Program For Your Business - It's Free &raquo;</a>
                    </div>

                    <div class="separator"></div>
                    <div class="separator"></div>
                    <div class="separator"></div>

                    <div class="pcarousel">
                        <div class="titlecontainer">
                            <h2 class="contenttitle"><span>Free Promotional Kit</span></h2>
                        </div>
                        <div class="pc-content">
                        We provide all of our clients with a free promotional kit to help you get those loyal customers on board! Our promotional kit is provided to every business that works with True Loyalty, regardless of the package you choose from us.
                        </div>
                        <div class="clearfix"></div>
                        <div class="flexslider-carousel">
                            <ul class="slides">
                              <li class="threecol">
                                <div class="cr-item-container">
                                    <div class="if-pf-img">
                                        <div class="rollover"></div>
                                        <a class="image zoom" href="/bundles/tlmain/images/content/pf/thinkprint.jpg" data-rel="prettyPhoto[wallposter]" title="wallposter"></a>
                                        <img src="/bundles/tlmain/images/content/pf/thinkprint-251x191.jpg" alt="wallposter" />
                                    </div>
                                    <h3>Wall Poster</h3>
                                    <div class="if-pf-text">Inform your existing customers about your loyalty scheme in-store.</div>
                                </div>
                              </li>
                              <li class="threecol">
                                <div class="cr-item-container">
                                <div class="if-pf-img">
                                    <div class="rollover"></div>
                                    <a class="image zoom" href="/bundles/tlmain/images/content/pf/sayitinprint.jpg" data-rel="prettyPhoto[counter-poster]" title="Counter Poster"></a>
                                    <img src="/bundles/tlmain/images/content/pf/sayitinprint-251x191.jpg" alt="Counter Poster" />
                                </div>
                                <h3>Counter Poster</h3>
                                <div class="if-pf-text">Recruit loyal customers at the point-of-sale.</div>
                                </div>
                              </li>
                              <li class="threecol">
                                <div class="cr-item-container">
                                <div class="if-pf-img">
                                    <div class="rollover"></div>
                                    <a class="image zoom" href="/bundles/tlmain/images/content/pf/minicards.jpg"  data-rel="prettyPhoto[minicards]" title="Minicards"></a>
                                    <a class="image gotolink" href="#" title="Minicards"></a>
                                    <img src="/bundles/tlmain/images/content/pf/minicards-251x191.jpg" alt="Minicards" />
                                </div>
                                <h3>Window Sticker</h3>
                                <div class="if-pf-text">Let customers know that you work with True Loyalty.</div>
                                </div>
                              </li>
                              <li class="threecol">
                                  <div class="cr-item-container">
                                  <div class="if-pf-img">
                                      <div class="rollover"></div>
                                      <a class="image zoom" href="/bundles/tlmain/images/content/pf/leaflet07.jpg"  data-rel="prettyPhoto[qrcode]" title="QR Code"></a>
                                      <img src="/bundles/tlmain/images/content/pf/leaflet07-251x191.jpg" alt="QR Code" />
                                  </div>
                                  <h3>Your QR Code</h3>
                                  <div class="if-pf-text">Customers scan this to build loyalty and earn rewards. You must keep it safe behind the till.</div>
                                  </div>
                              </li>
                           </ul>
                        </div>

                    <div class="separator"></div>
                    <div class="separator"></div>
                        <div class="twelvecol center">
                            <div class="clearfix"></div><!-- clear float --> 
                            <h3>How would customers join the loyalty scheme?</h3>
                            <a href="{{ path('TLMainBundle_page_how_it_works') }}" class="btn btn-primary btn-large">Find out How It Works &raquo;</a>

                        </div>

                    </div>

                    <div class="separator"></div>
                    <div class="separator"></div>
                    <div class="separator"></div>

                    <div class="twelvecol ">
                        <p>
                        What are you waiting for? <a href="{{ path('TLMainBundle_page_pricing') }}">Click here</a> and work with True Loyalty to build your business's loyalty scheme today.
                        </p>

                    <hr>

                        <blockquote>True Loyalty provides everything a small business needs. They help you build profitable loyalty campaigns, track your customers, send promotions to them and even view detailed customer feedback! Best of all, it's completely free.</blockquote>
                         <span class="testiinfo">Tom, Bishops Stortford</span>
                    </div>



                    </div>
                    <div class="clearfix"></div><!-- clear float --> 
                </section><!-- maincontent -->
            </div>
        </div>
        <!-- END MAIN CONTENT -->

{% endblock %}
