{% extends "TLMainBundle::layout.html.twig" %}

{% block title "Loyalty Program Pricing - True Loyalty" %}

{% block css %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite' output='css/*.css' combine=true
        'bundles/tlmain/css/pricing.css'
    %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block breadcrumb "" %}

{% block pageTop %}
    <div class="clearfix"></div>
{% endblock %}

{% block nopagetop "nopagetop" %}

{% block content %}
        <section id="maincontent" class="row">
            <div class="twelvecol">
    

                <div id="main-table">
                    <div class="main-table-row main-special-row">

                        {% include 'TLMainBundle:Page:_startup_kit.html.twig' %}
                        <div class="promo">
                            <div class="promo-box">
                                <h3>
                                   All plans come with a <a data-toggle="modal" href="#startupKit" style="color: #0033ff;">FREE Startup Kit</a>
                                </h3>
                            </div>
                        </div>
                        <ul class="pricing-features">
                            <li><strong>Features</strong></li>
                            <li><a data-placement="top" rel="tooltip" href="javascript:;" data-original-title="Track your loyalty program's performance, analyse membership statistics, identify new members and drill down further to view sign ups, stamps and redemptions by time, date and location.">Track Program Statistics <i class="icon-question-sign pull-right"></i></a> </li>
                            <li><a data-placement="top" rel="tooltip" href="javascript:;" data-original-title="Set up your own 'buy five and get one free' type loyalty card. All 'stamps' and redemptions are stored online, and accessed by your customer's smart phones. No need for paper cards. It's all done in the cloud.">Create a Mobile Loyalty Card <i class="icon-question-sign pull-right"></i></a> </li>
                            <li><a data-placement="top" rel="tooltip" href="javascript:;" data-original-title="Send tailored promotions to different segments of your loyalty program's membership. Fancy regenerating custom from those who haven't visited in the past 28 days? Or maybe you would like to reward your most loyal customers with a free coffee? All of your promotions are sent directly to your customers.">Create Targeted Promotions <i class="icon-question-sign pull-right"></i></a> </li>
                            <li><a data-placement="top" rel="tooltip" href="javascript:;" data-original-title="View and filter your customers by gender, age and other criteria. Drill down further and view detailed customer profiles, average feedback statistics and identify your most loyal customers. You can even get to know your customers by viewing and memorising their profile photo!">Analyse Customers <i class="icon-question-sign pull-right"></i></a> </li>
                            <li><a data-placement="top" rel="tooltip" href="javascript:;" data-original-title="After your customer has stamped their loyalty card, they are asked to provide a 'star rating' and a comment about their experience at your store. Tap into this data to listen and react to customer feedback.">View Customer Feedback <i class="icon-question-sign pull-right"></i></a> </li>
                        </ul>

                        <ul>    
                            <li><strong>Limits</strong></li>
                            <li><a data-placement="top" rel="tooltip" href="javascript:;" data-original-title="This is the total number of customers your loyalty program can support. Once you exceed this threshold, you will need to upgrade your account to allow more customers to join your loyalty program.">Customer Limit (Total) <i class="icon-question-sign pull-right"></i></a> </li>
                            <li><a data-placement="top" rel="tooltip" href="javascript:;" data-original-title="This is the total number of promotion emails you can send out to your customers in any month.">Email Limit (Monthly) <i class="icon-question-sign pull-right"></i></a> </li>
                        </ul>
 
                        <ul>    
                            <li><strong>Support & Services</strong></li>
                            <li><a data-placement="top" rel="tooltip" href="javascript:;" data-original-title="Print all of your promotional kit materials from within your dashboard. They are printer friendly and ready to go.">Promotional Materials <i class="icon-question-sign pull-right"></i></a> </li>
                            <li><a data-placement="top" rel="tooltip" href="javascript:;" data-original-title="If you ever have any problems, questions or just fancy a chat, we're happy to help. We've included a support desk within the dashboard to help our clients get in touch with us.">Support Desk <i class="icon-question-sign pull-right"></i></a> </li>
                        </ul>
                    </div>

                    <div class="main-table-row table-one">
                        <div class="table-title">
                            <h1>Starter</h1>
                            <span>For businesses that care about customer loyalty</span>
                        </div>

                        <div class="table-price">
                            <h2><i>&pound;</i>9.95</h2>
                            <h3>billed monthly
                            </h3>
                        </div>

                        <ul>
                            <li></li>
                            <li><img src="{{ asset('bundles/tlmain/images/green-tick.png') }}" alt="Included" /></li>
                            <li><img src="{{ asset('bundles/tlmain/images/green-tick.png') }}" alt="Included" /></li>
                            <li><img src="{{ asset('bundles/tlmain/images/green-tick.png') }}" alt="Included" /></li>
                            <li>-</li>
                            <li>-</li>
                        </ul>

                        <ul>
                            <li></li>
                            <li>100</li>
                            <li>100</li>
                        </ul>

                        <ul>
                            <li></li>
                            <li><img src="{{ asset('bundles/tlmain/images/green-tick.png') }}" alt="Included" /></li>
                            <li><img src="{{ asset('bundles/tlmain/images/green-tick.png') }}" alt="Included" /></li>
                        </ul>
                        <a href="{{ path('fos_user_registration_register', {'plan': 'starter'}) }}" class="btn btn-success">Start Free Trial</a>
                    </div>

                    <div class="main-table-row table-premium">
                        <div class="table-title">
                            <h1>Premium</h1>
                            <span>For businesses that value<br> true loyalty</span>
                        </div>
                    <div class="premium-hold">

                        <div class="table-price">
                            <h2><i>&pound;</i>19.95</h2>
                            <h3>billed monthly<br />
                            </h3>
                        </div>

                        <ul>
                            <li></li>
                            <li><img src="{{ asset('bundles/tlmain/images/green-tick.png') }}" alt="Included" /></li>
                            <li><img src="{{ asset('bundles/tlmain/images/green-tick.png') }}" alt="Included" /></li>
                            <li><img src="{{ asset('bundles/tlmain/images/green-tick.png') }}" alt="Included" /></li>
                            <li><img src="{{ asset('bundles/tlmain/images/green-tick.png') }}" alt="Included" /></li>
                            <li>-</li>
                        </ul>

                        <ul>
                            <li></li>
                            <li>500</li>
                            <li>500</li>
                        </ul>

                        <ul>
                            <li></li>
                            <li><img src="{{ asset('bundles/tlmain/images/green-tick.png') }}" alt="Included" /></li>
                            <li><img src="{{ asset('bundles/tlmain/images/green-tick.png') }}" alt="Included" /></li>
                        </ul>
                        <a href="{{ path('fos_user_registration_register', {'plan': 'premium'}) }}" class="btn btn-success">Start Free Trial</a>
                    </div>
                    </div>

                    <div class="main-table-row table-three">
                        <div class="table-title">
                            <h1>Deluxe</h1>
                            <span>For businesses that rely on true loyalty</span>
                        </div>

                        <div class="table-price">
                            <h2><i>&pound;</i>29.95</h2>
                            <h3>billed monthly
                            </h3>
                        </div>

                        <ul>
                            <li></li>
                            <li><img src="{{ asset('bundles/tlmain/images/green-tick.png') }}" alt="Included" /></li>
                            <li><img src="{{ asset('bundles/tlmain/images/green-tick.png') }}" alt="Included" /></li>
                            <li><img src="{{ asset('bundles/tlmain/images/green-tick.png') }}" alt="Included" /></li>
                            <li><img src="{{ asset('bundles/tlmain/images/green-tick.png') }}" alt="Included" /></li>
                            <li><img src="{{ asset('bundles/tlmain/images/green-tick.png') }}" alt="Included" /></li>
                        </ul>

                        <ul>
                            <li></li>
                            <li>Unlimited</li>
                            <li>Unlimited</li>
                        </ul>


                        <ul>
                            <li></li>
                            <li><img src="{{ asset('bundles/tlmain/images/green-tick.png') }}" alt="Included" /></li>
                            <li><img src="{{ asset('bundles/tlmain/images/green-tick.png') }}" alt="Included" /></li>
                        </ul>
                        <a href="{{ path('fos_user_registration_register', {'plan': 'delux'}) }}" class="btn btn-success">Start Free Trial</a>
                    </div>
                <div class="clr"></div>           
            </div>





            </div>
            <div class="clearfix"></div>
        
        </section>

{% endblock %}
