{% extends "TLMainBundle::layout.html.twig" %}

{% block title "Loyalty Program Pricing - True Loyalty" %}

{% block css %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite' output='css/*.css' combine=true
        'bundles/tlmain/css/pricing.css'
    %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block breadcrumb "" %}

{% block pageTop %}
    <div class="clearfix"></div>
{% endblock %}

{% block content %}
<div id="outermain" class="nopagetop">
    <div class="container">
        <section id="maincontent" class="row">
            <div class="twelvecol">
    

                <div id="main-table">
                    <div class="main-table-row main-special-row">

                        {% include 'TLMainBundle:Page:_startup_kit.html.twig' %}
                        <div class="promo">
                            <div class="promo-box">
                                <h3>
                                   All plans come with a <a data-toggle="modal" href="#startupKit" style="color: #0033ff;">FREE Startup Kit</a>
                                </h3>
                            </div>
                        </div>
                        <ul class="pricing-features">
                            <li><strong>Features</strong></li>
                            <li class="tip11"><img class="tooltip" src="public/images/plans/tooltip.png">Track Program Statistics</li>
                            <li class="tip3"><img class="tooltip" src="public/images/plans/tooltip.png">Create a Mobile Loyalty Card</li>
                            <li class="tip3"><img class="tooltip" src="public/images/plans/tooltip.png">Create Targeted Promotions</li>
                            <li class="tip9"><img class="tooltip" src="public/images/plans/tooltip.png">Analyse Customers</li>
                            <li class="tip9"><img class="tooltip" src="public/images/plans/tooltip.png">View Customer Feedback</li>
                        </ul>

                        <ul>    
                            <li><strong>Limits</strong></li>
                            <li class="tip13"><img class="tooltip" src="public/images/plans/tooltip.png">Customer Limit (Total)</li>
                            <li class="tip13"><img class="tooltip" src="public/images/plans/tooltip.png">Email Limit (Total)</li>
                        </ul>
 
                        <ul>    
                            <li><strong>Support & Services</strong></li>
                            <li class="tip13"><img class="tooltip" src="public/images/plans/tooltip.png">Free Startup Kit</li>
                            <li class="tip13"><img class="tooltip" src="public/images/plans/tooltip.png">Print Promotional Materials</li>
                            <li class="tip15"><img class="tooltip" src="public/images/plans/tooltip.png">Support Desk</li>
                        </ul>
                    </div><!-- main-table-row -->

                    <div class="main-table-row table-one">
                        <div class="table-title">
                            <h1>Starter</h1>
                            <span>For businesses that care about customer loyalty</span>
                        </div><!-- table-title -->

                        <div class="table-price">
                            <h2><i>&pound;</i>9.95</h2>
                            <h3>billed monthly<br /><br />
                            &pound;4.95 Joining Fee</h3>
                        </div><!-- table-price -->

                        <ul>
                            <li></li>
                            <li><img src="{{ asset('bundles/tlmain/images/green-tick.png') }}" alt="Included" /></li>
                            <li><img src="{{ asset('bundles/tlmain/images/green-tick.png') }}" alt="Included" /></li>
                            <li>-</li>
                            <li>-</li>
                            <li>-</li>
                        </ul>

                        <ul>
                            <li></li>
                            <li>100</li>
                            <li>100</li>
                        </ul>

                        <ul>
                            <li></li>
                            <li><img src="{{ asset('bundles/tlmain/images/green-tick.png') }}" alt="Included" /></li>
                            <li><img src="{{ asset('bundles/tlmain/images/green-tick.png') }}" alt="Included" /></li>
                            <li><img src="{{ asset('bundles/tlmain/images/green-tick.png') }}" alt="Included" /></li>
                        </ul>
                        <a href="/signup/starter" class="btn btn-success">Start Free Trial</a>
                    </div><!-- main-table-row -->

                    <div class="main-table-row table-premium">
                        <div class="table-title">
                            <h1>Premium</h1>
                            <span>For businesses that value<br> true loyalty</span>
                        </div><!-- table-title -->
                    <div class="premium-hold">

                        <div class="table-price">
                            <h2><i>&pound;</i>19.95</h2>
                            <h3>billed monthly<br /><br />
                            &pound;4.95 Joining Fee</h3>
                        </div><!-- table-price -->

                        <ul>
                            <li></li>
                            <li><img src="{{ asset('bundles/tlmain/images/green-tick.png') }}" alt="Included" /></li>
                            <li><img src="{{ asset('bundles/tlmain/images/green-tick.png') }}" alt="Included" /></li>
                            <li><img src="{{ asset('bundles/tlmain/images/green-tick.png') }}" alt="Included" /></li>
                            <li>-</li>
                            <li>-</li>
                        </ul>

                        <ul>
                            <li></li>
                            <li>500</li>
                            <li>500</li>
                        </ul>

                        <ul>
                            <li></li>
                            <li><img src="{{ asset('bundles/tlmain/images/green-tick.png') }}" alt="Included" /></li>
                            <li><img src="{{ asset('bundles/tlmain/images/green-tick.png') }}" alt="Included" /></li>
                            <li><img src="{{ asset('bundles/tlmain/images/green-tick.png') }}" alt="Included" /></li>
                        </ul>
                        <a href="/signup/premium" class="btn btn-success">Start Free Trial</a>
                    </div><!-- premium0hold -->
                    </div><!-- main-table-row -->

                    <div class="main-table-row table-three">
                        <div class="table-title">
                            <h1>Deluxe</h1>
                            <span>For businesses that rely on true loyalty</span>
                        </div><!-- table-title -->

                        <div class="table-price">
                            <h2><i>&pound;</i>29.95</h2>
                            <h3>billed monthly<br /><br />
                            &pound;4.95 Joining Fee</h3>
                        </div><!-- table-price -->

                        <ul>
                            <li></li>
                            <li><img src="{{ asset('bundles/tlmain/images/green-tick.png') }}" alt="Included" /></li>
                            <li><img src="{{ asset('bundles/tlmain/images/green-tick.png') }}" alt="Included" /></li>
                            <li><img src="{{ asset('bundles/tlmain/images/green-tick.png') }}" alt="Included" /></li>
                            <li><img src="{{ asset('bundles/tlmain/images/green-tick.png') }}" alt="Included" /></li>
                            <li><img src="{{ asset('bundles/tlmain/images/green-tick.png') }}" alt="Included" /></li>
                        </ul>

                        <ul>
                            <li></li>
                            <li>Unlimited</li>
                            <li>Unlimited</li>
                        </ul>


                        <ul>
                            <li></li>
                            <li><img src="{{ asset('bundles/tlmain/images/green-tick.png') }}" alt="Included" /></li>
                            <li><img src="{{ asset('bundles/tlmain/images/green-tick.png') }}" alt="Included" /></li>
                            <li><img src="{{ asset('bundles/tlmain/images/green-tick.png') }}" alt="Included" /></li>
                        </ul>
                        <a href="/signup/pro" class="btn btn-success">Start Free Trial</a>
                    </div><!-- main-table-row -->
                <div class="clr"></div>           
            </div><!-- main-table -->










            </div>
            <div class="clearfix"></div>
        
        </section>
    </div>
</div>

{% endblock %}
