<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

<title>{% block title %}Dashboard - True Loyalty{% endblock %}</title>

{% stylesheets filter='cssrewrite' output='css/dashboard/*.css' combine=true
    'bundles/tlmain/css/dashboard/main.css'
   %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" media="screen" />
{% endstylesheets %}

<!--[if IE]> <link href="{{ asset('bundles/tlmain/css/dashboard/ie.css') }}" rel="stylesheet" type="text/css"> <![endif]-->


{% javascripts combine=true
    '@TLMainBundle/Resources/public/js/jquery-1.8.3.min.js'
    '@TLMainBundle/Resources/public/js/dashboard/jquery_ui_custom.js'

    '@TLMainBundle/Resources/public/js/dashboard/plugins/charts/excanvas.min.js'
    '@TLMainBundle/Resources/public/js/dashboard/plugins/charts/jquery.flot.js'
    '@TLMainBundle/Resources/public/js/dashboard/plugins/charts/jquery.flot.pie.js'
    '@TLMainBundle/Resources/public/js/dashboard/plugins/charts/jquery.flot.resize.js'
    '@TLMainBundle/Resources/public/js/dashboard/plugins/charts/jquery.flot.axislabels.js'
    '@TLMainBundle/Resources/public/js/dashboard/plugins/charts/jquery.sparkline.min.js'

    '@TLMainBundle/Resources/public/js/dashboard/plugins/forms/jquery.tagsinput.min.js'
    '@TLMainBundle/Resources/public/js/dashboard/plugins/forms/jquery.inputlimiter.min.js'
    '@TLMainBundle/Resources/public/js/dashboard/plugins/forms/jquery.maskedinput.min.js'
    '@TLMainBundle/Resources/public/js/dashboard/plugins/forms/jquery.autosize.js'
    '@TLMainBundle/Resources/public/js/dashboard/plugins/forms/jquery.ibutton.js'
    '@TLMainBundle/Resources/public/js/dashboard/plugins/forms/jquery.dualListBox.js'
    '@TLMainBundle/Resources/public/js/dashboard/plugins/forms/jquery.validate.js'
    '@TLMainBundle/Resources/public/js/dashboard/plugins/forms/jquery.uniform.min.js'
    '@TLMainBundle/Resources/public/js/dashboard/plugins/forms/jquery.select2.min.js'
    '@TLMainBundle/Resources/public/js/dashboard/plugins/forms/jquery.cleditor.js'

    '@TLMainBundle/Resources/public/js/dashboard/plugins/uploader/plupload.js'
    '@TLMainBundle/Resources/public/js/dashboard/plugins/uploader/plupload.html4.js'
    '@TLMainBundle/Resources/public/js/dashboard/plugins/uploader/plupload.html5.js'
    '@TLMainBundle/Resources/public/js/dashboard/plugins/uploader/jquery.plupload.queue.js'

    '@TLMainBundle/Resources/public/js/dashboard/plugins/wizard/jquery.form.wizard.js'
    '@TLMainBundle/Resources/public/js/dashboard/plugins/wizard/jquery.form.js'

    '@TLMainBundle/Resources/public/js/dashboard/plugins/ui/jquery.collapsible.min.js'
    '@TLMainBundle/Resources/public/js/dashboard/plugins/ui/jquery.timepicker.min.js'
    '@TLMainBundle/Resources/public/js/dashboard/plugins/ui/jquery.jgrowl.min.js'
    '@TLMainBundle/Resources/public/js/dashboard/plugins/ui/jquery.pie.chart.js'
    '@TLMainBundle/Resources/public/js/dashboard/plugins/ui/jquery.fullcalendar.min.js'
    '@TLMainBundle/Resources/public/js/dashboard/plugins/ui/jquery.elfinder.js'
    '@TLMainBundle/Resources/public/js/dashboard/plugins/ui/jquery.fancybox.js'

    '@TLMainBundle/Resources/public/js/dashboard/plugins/tables/jquery.dataTables.min.js'

    '@TLMainBundle/Resources/public/js/dashboard/plugins/bootstrap/bootstrap.min.js'
    '@TLMainBundle/Resources/public/js/dashboard/plugins/bootstrap/bootstrap-bootbox.min.js'
    '@TLMainBundle/Resources/public/js/dashboard/plugins/bootstrap/bootstrap-progressbar.js'
    '@TLMainBundle/Resources/public/js/dashboard/plugins/bootstrap/bootstrap-colorpicker.js'

    '@TLMainBundle/Resources/public/js/dashboard/functions/custom.js'
    '@TLMainBundle/Resources/public/js/dashboard/charts/chart.js'
    '@TLMainBundle/Resources/public/js/dashboard/charts/pie.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

</head>

<body>

<!-- Top nav -->
<div id="top">
    <div class="top-wrapper">
        <h3 class="pull-left" style="margin: 0;"><a href="{{ path('TLMainBundle_dashboard') }}" title="">True Loyalty</a></h3>
        <ul class="topnav">
            <li class="topuser">
                <a title="" data-toggle="dropdown"><span>{{ app.user.username }}</span><i class="caret"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="#" title=""><span class="user-profile"></span>My profile</a></li>
                    <li><a href="#" title=""><span class="user-stats"></span>Statistics <strong>2</strong></a></li>
                    <li><a href="#" title=""><span class="user-settings"></span>Switch user</a></li>
                    <li><a href="#" title=""><span class="user-logout"></span>Logout</a></li>
                </ul>
            </li>
            <li><a href="#" title=""><b class="settings"></b></a></li>
            <li><a href="#" title=""><b class="mail"></b></a></li>
            <li class="search">
                <a title=""><b class="search"></b></a>
                <form class="top-search" action="#">
                    <input type="text" placeholder="Search..." />
                    <input type="submit" value="" />
                </form>
            </li>
            <li class="sidebar-button"><a href="#" title=""><b class="responsive-nav"></b></a></li>
            <li><a href="#" title=""><b class="logout"></b></a></li>
        </ul>
    </div>
</div>

<div class="wrapper">

    <div class="sidebar">

        <ul class="navigation"><!-- standard nav -->
            <li class="{% block navDashboard "" %}"><a href="{{ path('TLMainBundle_dashboard') }}" title=""><span class="menu-dashboard"></span>Dashboard</a></li>
            <li class="{% block navCard "" %}"><a href="{{ path('TLMainBundle_card_edit') }}" title=""><span class="menu-forms"></span>Manage Loyalty Card</a></li>
            <li class="{% block navCampaign "" %}"><a href="{{ path('TLMainBundle_campaign_new') }}" title=""><span class="menu-components"></span>Create Campaign</a></li>
            <li class="{% block navCustomer "" %}"><a href="{{ path('TLMainBundle_customer_index') }}" title=""><span class="menu-icons"></span>Analyse Customers</a></li>
            <li class="{% block navFeedback "" %}"><a href="{{ path('TLMainBundle_feedback_index') }}" title=""><span class="menu-messages"></span>View Feedback</a></li>
            <li class="{% block navMaterials "" %}"><a href="messages.html" title=""><span class="menu-tables"></span>Promotional Materials</a></li>
            <li class="{% block navQR "" %}"><a href="tables.html" title=""><span class="menu-files"></span>QR Code</a></li>
            <li class="{% block navAccount "" %}"><a href="#" title=""><span class="menu-layouts"></span>My Account</a></li>
            <li class="{% block navSupport "" %}"><a href="typography.html" title=""><span class="menu-calendar"></span>Support Centre</a></li>
        </ul><!-- /standard nav -->
    </div>
    
    
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    
</div>

</body>
</html>

